*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}


body{
background-color: rgb(247, 204, 204);
color: rgb(48, 48, 48);
font-family: monospace;
font-size: 2rem;
font-weight: bold;
line-height: 1.25;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}



