*{  
  
    background-color: rgb(58, 26, 58);
}

#Text{
    justify-content: center;
    text-align: center;
    margin-top: 350px;
}

#nummer{
    font-size: 32px;
    font-family: monospace;
    color: rgb(2, 161, 37);
    border: solid 5px red;
}

